extends layout

include _includes/sharedHTMLfunctions

block content
    .row.page-header: .col-lg-12
        h1= pageHeader.title
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    a.navbar-brand(href='/shop/test_lips')
                        img(src='https://a57ed064b59d6d24a0db-e6a144f900fc09b8b2fc3bba00c88f87.ssl.cf3.rackcdn.com/assets/ru-ru/images/product/prod_1187295_1_613x613.jpg',
                            width='110px')
                .col-xs-12.col-sm-6
                    a.navbar-brand(href='/shop/test_lips')
                        img(src='https://a57ed064b59d6d24a0db-e6a144f900fc09b8b2fc3bba00c88f87.ssl.cf3.rackcdn.com/assets/ru-ru/images/product/prod_1197198_1_613x613.jpg',
                        width='110px')
            .row
                .col-xs-12.col-sm-6
                    a.navbar-brand(href='/shop/test_eyebrows')
                        img(src='https://a57ed064b59d6d24a0db-e6a144f900fc09b8b2fc3bba00c88f87.ssl.cf3.rackcdn.com/assets/ru-ru/images/product/prod_1190913_1_613x613.jpg',
                        width='110px')
                .col-xs-12.col-sm-6
                    a.navbar-brand(href='/shop/test_eyebrows')
                        img(src='https://a57ed064b59d6d24a0db-e6a144f900fc09b8b2fc3bba00c88f87.ssl.cf3.rackcdn.com/assets/ru-ru/images/product/prod_1192094_1_613x613.jpg',
                        width='110px')